/* Dropdown Button */
.dropdownToggle {
  /* background-color: #f0ede5; */
  color: black;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 50rem;
  width: 100%;
  transition: background-color 0.5s ease;
}

/* Dropdown button on hover & focus */
/* We need to do something about outline 0. Replace it with something visual. */
.dropdownToggle:hover,
.dropdownToggle:focus {
  /* background-color: #d9d3bf; */
  outline: 0;
}
